@import url(./basic-styles.css);

/* lesson styles */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 150px);
  gap: 20px;
  grid-template-areas: 
  /* "header header header header" */
  "h h h h"
  /* "main main . sidebar" */
  "m m . s"
  /* "footer footer footer footer" */
  "f f f f"
  ;
}

.header {
  /* grid-area: header; */
  grid-area: h;
}

.main { 
  /* grid-area: main; */
  grid-area: m;
}

.sidebar {
  /* grid-area: sidebar; */
  grid-area: s;
}

.footer {
  /* grid-area: footer; */
  grid-area: f;
}

@media (max-width: 700px) {
    .container {
        grid-template-areas: 
        "s h h h"
        "s m m m"
        "s f f f"
        ;
    }
}
